<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tlongdev.spicio"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Safe permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".SpicioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".storage.DatabaseProvider"
            android:authorities="com.tlongdev.spicio"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".presentation.ui.activity.SeriesSearchDetailsActivity"
            android:label="@string/title_activity_series_details"
            android:parentActivityName=".presentation.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tlongdev.spicio.presentation.ui.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".presentation.ui.activity.SeriesActivity"
            android:parentActivityName=".presentation.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tlongdev.spicio.presentation.ui.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".presentation.ui.activity.SeasonEpisodesActivity"
            android:parentActivityName=".presentation.ui.activity.SeriesActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tlongdev.spicio.presentation.ui.activity.SeriesActivity"/>
        </activity>
    </application>

</manifest>